* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/patt.png");
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  margin: 0 -15px;
}
.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
.header {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}
.menu {
  display: flex;
}
.menu li {
  width: 25%;
  border-left: 1px solid #2c71b8;
}
.menu :last-child {
  border-right: 1px solid #2c71b8;
}
.menu a {
  display: flex;

  height: 50px;
  text-decoration: none;
  color: #2c71b8;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.dropdown {
  visibility: hidden;
  position: absolute;
  width: 250px;
  height: fit-content;
  background-color: #2c71b8;
  color: white;
  text-align: center;
}
.dropdown > li {
  width: 100%;
  height: 40px;
}
.dropdown > li > a {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 21px;
  color: white;
  display: flex;
  align-items: center;
}
.dropdown > li:hover a {
  color: #2c71b8;
  background-color: white;
}

.menu > li:hover .dropdown {
  visibility: visible;
}
.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

.search-card {
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  border: 1px solid#2c71b8;
  background: transparent;
  height: 40px;
  width: 200px;
  font-size: 21px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}
.search-input {
  width: 160px;
  padding-left: 15px;
  font-size: 21px;
  color: #2c71b8;
  outline: none;
  border: none;
  background: transparent;
}
.search-btn {
  height: 30px;
  width: 30px;
  background-color: #2c71b8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: none;
  border: none;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
::placeholder {
  font-size: 21px;
  color: #2c71b8;
  font-family: "Roboto", sans-serif;
}
.shop-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/shop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
.card-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-bottom: 40px;
  color: #2c71b8;
}
